body{
    background-image: url('img/bg1.jpg');
}
header{
 height: 25px;
    
}
header button{
   
  
    border: none;
    color:rgb(255, 255, 255);
    background-image: linear-gradient(to right, black,rgb(31, 2, 49));
}
.container{
    margin: 50px 200px;
    background-color: rgba(75, 75, 75, 0.6);
}
.conteudos{

    border: 2px solid black;
   
}
.folhas{
    display: flex;
}
.folhas button {
    background-color: rgba(75, 75, 75, 0.6);
    font-family: 'Metal Mania';
    border: 2px solid rgb(255, 255, 255);
    color: #ffffff;
    cursor: pointer;
    flex-grow: 1;
    font-size: 1.25rem;
    font-weight: bold;
    outline: none;
    padding: 10px;
    text-transform: uppercase;
    transition: all .5s;
}
.conteudos {
    border: 2px solid rgb(0, 0, 0);
    min-height: 300px;
    padding: 20px;
}
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form input{
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
}
.form button{
    font-family: 'Metal Mania';
    padding: 10px;
    background-color: rgb(104, 8, 164);
    border:none;
    outline: none;
    color:white;
    font-weight: bold;
}
.hide{
    display: none;
}
.folhas .ativa{
    background-image: linear-gradient(to left, black,rgb(104, 8, 164),rgb(0, 0, 0));
}